html,
body {
  height: 100vh;
  margin: 0;
}
body {
  /* background-color: #000000; */
  overflow: hidden;
  /* background-color: #f0f0f0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  width: 100vw;
  height: 100vh;
}

#dummy {
  height: 100vh;
  width: 33vw;
}

#sidebar {
  width: 33vw; /* Sidebar takes up 20% of the view width */
  /* Christmas red */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.stats {
  width: 25%;
  text-align: center;
  font-size: 2vw;
  font-weight: 550;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}
.stats-text {
  font-weight: 30;
}
#clears {
  font-size: 125px;
}

#gameboard {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 5px solid #bfae6b; /* Teal color for the border */
  background-color: #e7f5f6; /* Light icy blue for background */
}

#gameboard > div {
  display: flex;
}

.box {
  width: 5vh; /* Adjust as needed */
  height: 5vh; /* Adjust as needed */
  background-color: white; /* Dark slate color for boxes */
  border: 2px solid #bfae6b;
  box-sizing: border-box;
}

#game-end {
  width: 300px;
  text-align: center;
  display: none;
  flex-direction: column;

  background-color: white;
  color: #dac264;
  border: 2px #dac264 solid;
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
}

#pause {
  width: 300px;
  text-align: center;
  display: none;
  flex-direction: column;

  background-color: white;
  color: #dac264;
  border: 2px #dac264 solid;
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
}
