html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  border: 5px solid #000000;
}
#sidebar {
  width: 20%; /* Sidebar takes up 20% of the view width */
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1%;
}
#gameboard {
  width: 80%; /* Gameboard takes up the remaining 80% of the view width */
  background-color: #000000;
}
.stats {
  width: 100%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: #cccccc;
  text-align: center;
  font-size: 1.5vw; /* Responsive font size */
}
